google_client_id=
google_client_secret=
google_redirect_url=
auth_server_domain=
mysql_host=localhost
mysql_port=3306
MYSQL_USER=root
MYSQL_PASSWORD=secure_pass
MYSQL_DATABASE=users
MYSQL_ROOT_PASSWORD=secure_pass
service_port=8080